<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><%=link_to 'Logout', destroy_user_session_path %></li>
  </ul>
  <form action="/properties/search" class="navbar-form navbar-right">
    <input name="query" type="text" class="form-control" placeholder="Search Properties...">
  </form>
</div>